<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.tarmakczech</string>
	<key>CFBundleName</key>
	<string>Tarmak 2 Czech</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_Tarmak 1 Czech</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.tarmakczech.tarmak1 czech</string>
		<key>TISIntendedLanguage</key>
		<string>en-US</string>
	</dict>
	<key>KLInfo_Tarmak 2 Czech</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.tarmakczech.tarmak2 czech</string>
		<key>TISIntendedLanguage</key>
		<string>en-US</string>
	</dict>
	<key>KLInfo_Tarmak 3 Czech</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.tarmakczech.tarmak3 czech</string>
		<key>TISIntendedLanguage</key>
		<string>en-US</string>
	</dict>
	<key>KLInfo_Tarmak 4 Czech</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.tarmakczech.tarmak4 czech</string>
		<key>TISIntendedLanguage</key>
		<string>en-US</string>
	</dict>
</dict>
</plist>
